.crdfoter{
  background-color: #f7f7f8;
  padding: 8px 0px 6px 11px;
  margin-top: 12px;
}
.headng{
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto","Helvetica Neue",Arial,sans-serif;
  font-size: 42px;
}


.text-success{text-transform: capitalize;}
.inpuut{position: sticky;}
.comment-wrapper .panel-body {
  max-height:650px;
  overflow:auto;
}

.comment-wrapper .media-list .media img {
  width:64px;
  height:64px;
  border:2px solid #e5e7e8;
}

.media {

  border-bottom:1px dashed #efefef;
  margin-bottom:25px;
}

.dropbtn {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropbtn:focus{outline: none; }

.dropdown1 {
  float: right;

  display: inline-block;

}

.dropdown-content1 {
  margin-left: -117px;
  margin-top: -12px;
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content1 a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block;

}

.dropdown-content1 a:hover {background-color: #f1f1f1}

.dropdown1:hover .dropdown-content1 {
  display: block;
}

.dropdown1:hover i {

  color:#9ed544;
}
.comntbtn{background-color: white;
  border: none;}
.comntbtn i{font-size: 24px;}
.comntbtn:hover{color:#9ed544;}
.modal.loading .modal-content:before {
  content: 'Loading...';
  text-align: center;
  line-height: 155px;
  font-size: 20px;
  background: rgba(0, 0, 0, .8);
  position: absolute;
  top: 55px;
  bottom: 0;
  left: 0;
  right: 0;
  color: #EEE;
  z-index: 1000;
}
.sidebarri8{padding: 12px;}
.highlight{
  background-color: yellow;
  border-radius: .125em;
}
.cardfooter{
  background-color: aqua;
  height: 32px;
  padding: 7px;
}
