
<div class="col-md-12">


  <div class="pr-wrap">
    <div class="pass-reset">
      <label>
        Enter the email you signed up with</label>
      <input type="email" placeholder="Email" />
      <input type="submit" value="Submit" class="pass-reset-submit btn btn-success btn-sm" />
    </div>
  </div>
  <div class="wrap">

    <p class="form-title">Login</p>
    <form  class="login form1" [formGroup]="angForm" novalidate>
      <div *ngIf="msg">
        <div class="col-lg-12 col-sm-12 col-xs-12 alert alert-danger" >

          <strong>{{ msg }}</strong>
        </div>
      </div>
      <input type="text" placeholder="name" name="email" formControlName="email" #email >
      <div *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['email'].errors.required">
          Email is required.
        </div>
      </div>
      <input type="password" placeholder="password" name="password" formControlName="password" #password >
      <div *ngIf="angForm.controls['password'].invalid && (angForm.controls['password'].dirty || angForm.controls['password'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['password'].errors.required " >
          Password is required.
        </div>
      </div>
      <input type="submit" (click)="loginUser(email.value, password.value)" [disabled]="angForm.pristine || angForm.invalid"   value="Sign In" class="btn btn-success btn-sm" />
      <div class="remember-forgot">
        <div class="row">
          <div class="col-md-6">
            <div class="checkbox">
              <label>
                <input type="checkbox" />
                Remember Me
              </label>
            </div>
          </div>
          <div class="col-md-6 forgot-pass-content">
            <a [routerLink]="['/register']" class="forgot-pass">Register</a>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
