<div class="card">
  <div class="header">
    <h4 class="title">All Post </h4>
    <p class="category">Active And Inactive Post</p>
  </div>
  <div class="content table-responsive table-full-width">
    <table class="table table-hover table-striped">
      <thead>
      <th>Post ID</th>
      <th>User Name</th>
      <th>Title</th>
      <th>Text</th>
      <th>Created At</th>
      <th>Active</th>

      </thead>

      <tbody>

        <tr>

          <td >231</td>
          <td>  Umar</td>
          <td >Laptop</td>
          <td style="box-sizing:28px;width: 446px;text-align: justify;"> What is Lorem Ipsum?
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</td>
          <td>2018-08-17 19:59:24</td>
          <td > <div class="btn-group" id="status" data-toggle="buttons">


                <label class="btn btn-default btn-on btn-xs active" style="cursor: no-drop;">
                  <input type="radio" value="" name="multifeatured_module[module_id][status]"  >Active</label>


          </div></td></tr>


      </tbody>

    </table>

  </div>
</div>
