<div class="wrapper">
  <div class="sidebar" data-color="purple" data-image="../assets/img/sidebar-5.jpg">

    <div class="sidebar-wrapper">

      <div class="logo">
        <a href="" class="simple-text">
          {{username.email}}
        </a>
      </div>



      <ul class="nav" >

        <li routerLinkActive="active">
          <a [routerLink]="['post']">
            <i class="pe-7s-upload"></i>
            <p>Post</p>
          </a>
        </li>
        <li routerLinkActive="active">
          <a  [routerLink]="['activeall']" >
            <i class="pe-7s-note2"></i>
            <p>Active And Inactive Posts</p>
          </a>
        </li>
        <li routerLinkActive="active">
          <a  [routerLink]="['allposts']" >
            <i class="pe-7s-news-paper"></i>
            <p>All Post</p>
          </a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['mypost']">
            <i class="pe-7s-file"></i>
            <p>My Post</p>
          </a>
        </li>
        <li routerLinkActive="active">
          <a [routerLink]="['userlist']">
            <i class="pe-7s-users"></i>
            <p>Users</p>
          </a>
        </li>


      </ul>
    </div>
  </div>
  <div class="main-panel">
    <nav class="navbar navbar-default navbar-fixed" style="background-color: #ffffff;">
      <div class="container-fluid">

        <div class="collapse navbar-collapse">

          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-globe"></i>
                <b class="caret hidden-sm hidden-xs"></b>

                <span class="notification hidden-sm hidden-xs">5</span>
                <p class="hidden-lg hidden-md">

                  <b class="caret"></b>
                </p>
              </a>
              <ul class="dropdown-menu" >



                <li><a href="#">Notification 2</a></li>
                <li><a href="#">Notification 3</a></li>
                <li><a href="#">Notification 4</a></li>
                <li><a href="#">Another notification</a></li>

              </ul>
            </li>

            <li>
              <a [routerLink]="['logout']">
                <p>Log out</p>
              </a>
            </li>
            <li class="separator hidden-lg"></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="content">
      <div class="container-fluid">
        <div class="row ">
          <div class="col-md-12">
            <router-outlet ></router-outlet>


        </div>

        </div>
      </div>

    </div>
  </div>


</div>
