<div class="card">
  <div class="header">
    <h4 class="title">Post</h4><hr>
  </div>
  <div class="content">
    <form [formGroup]="angForm" novalidate>
      <div *ngIf="successMessage ">
      <div class="col-lg-12 col-sm-12 col-xs-12 alert alert-success" >
        <strong>{{successMessage }}</strong>
      </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="usr">Title:</label>
            <input type="text" class="form-control" formControlName="title" id="user" name="title" #title >
          </div>
          <div *ngIf="angForm.controls['title'].invalid && (angForm.controls['title'].dirty || angForm.controls['title'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['title'].errors.required">
              Title is required.
            </div>
          </div>
          <div class="form-group">

            <!-- <label>About Me</label> -->
            <textarea rows="8" class="form-control" name="text" formControlName="text" placeholder="Write something here..." #text >What is Lorem Ipsum?
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</textarea>
          </div>
          <div *ngIf="angForm.controls['text'].invalid && (angForm.controls['text'].dirty || angForm.controls['text'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['text'].errors.required">
              text is required.
            </div>
        </div>
      </div>
        <div *ngIf="imageUrl != null">
          <img [src]="imageUrl"  style="width:70px;height:70px;margin-left: 17px;">
        </div>

      <input  type="file" class="form-control" id="usr" name="image" accept="image/*" #image (change)="handleFileInput($event.target.files)" required>


      <button type="submit" (click)="addPost(title.value, text.value ,image.value,image)" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-info btn-fill pull-right">Post</button>
      <div class="clearfix"></div>

  </div>
    </form>
</div>
</div>
