<div class="col-md-12">

  <div class="wrap">
    <p class="form-title">
      Register</p>

    <div *ngIf="successMessage ">
      <div class="col-lg-12 col-sm-12 col-xs-12 alert alert-success" >
        <strong>{{successMessage }}</strong>
      </div>
    </div>
    <form  class="login form1"  [formGroup]="angForm" novalidate>
      <input type="text" placeholder="name" name="email" formControlName="email" #email >
    <div *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)" class="alert alert-danger">
      <div *ngIf="angForm.controls['email'].errors.required">
        Email is required.
      </div>
    </div>
      <input type="password" placeholder="password" name="password" formControlName="password" #password >
    <div *ngIf="angForm.controls['password'].invalid && (angForm.controls['password'].dirty || angForm.controls['password'].touched)" class="alert alert-danger">
      <div *ngIf="angForm.controls['password'].errors.required">
        Password is required.
      </div>
    </div>

      <input type="submit" (click)="registration(email.value, password.value)" [disabled]="angForm.pristine || angForm.invalid" value="Sign Up" class="btn btn-success btn-sm" />
    </form>


  </div>
</div>
